body{
    background-color: #F3E5D8;
    width: 1440px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

main{
    background-color: #fff;
    width: 740px;
    height: 1710px;
    margin: 125px auto;
    border-radius: 25px;
    padding: 40px;
}

.image-omelette{
    width: 655px;
    height: 300px;
    border-radius: 20px;  
    margin-bottom: 30px; 
}   

.title{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

#ingredients > p{
    margin-bottom: 30px;
}

#preparation-card{
    background-color: #FFF7FC;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
}

#preparation-card > h3{
    color: #5E1E39;
    margin-bottom: 20px;
}

#preparation-card > ul{ 
    list-style: none;
    padding-left: 5px;
}

#preparation-card li{
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
    
}


#preparation-card li::before {
    content: '•';
    font-size: 1.5em;
    color: #5E1E39;
    position: absolute;
    left: 0;
    top: -0.2em;
}

#preparation-card li:last-child{
    margin-bottom: 0px;
}

.ingredients-list{
    list-style: none;
    padding-left: 5px;
}

.ingredients-list li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}
.ingredients-list li::before{
    content: '•';
    font-size: 1.5em;
    color: #824B37;
    position: absolute;
    left: 0;
    top: -0.2em;
}

hr{
    margin: 25px 0px;
}

.instructions-list{
    padding-left: 23px;
}

.instructions-list li{
    margin-bottom: 15px;
}

.instructions-list li::marker{
    color: #824B37;
    font-weight: bold;
}

.nutrition p{
    margin-bottom: 20px;
}

.nutrition-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.nutrition-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.nutrition-table tr:last-child td {
    border-bottom: none;
}

.nutrition-table .value {
    font-weight: bold;
    color: #6D1F00;
}